<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    <h1>Welcome</h1>
    <div>
    <p>Create an account or login</p>
    <a href="/users/register">Create Account</a>
    <a href="/users/login">Login</a>
    </div>
</body>
</html>